.latest-news {
  padding-bottom: 20px;

  &__list {

  }

  &__item {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
  }

  &__preview {
    height: 300px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}